<html>
    <link rel="stylesheet" href="/css/main.css">

    <body>
        {{{body}}}
    <br>
    <hr>
    <div class="copyRight">
        <b>Chris Navoczynski - Copyright 2021</b>
    </div>
    </body>
    
</html>