h1 {
    color: #9DC88D;
    font-family: cursive;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: #9DC88D;
    font-family: cursive;
    font-size: 30px;
    margin-left: 20px
}

body {
    background-color: black;
    color: #9DC88D;
    font-size: 18px;
}

a {
    color: #5d9bec;
    font-size: 20px;
    word-spacing: 3px;
    margin-top: 5px;
}

a:hover {
    color: #e05dec;
    font-size: 20px;
    word-spacing: 3px;
    margin-top: 5px;
}

li {
    margin-left: 30px;
    margin-bottom: 8px;
    color: #5d9bec;
    font-size: 20px;
    word-spacing: 3px;
    margin-top: 5px;
}

li:hover {
    color: #e05dec;
}

ul {
    margin-bottom: 8px;
    color: #5d9bec;
    font-size: 20px;
    word-spacing: 3px;
    margin-top: 5px;
    cursor: pointer;
}

ul:hover {
    color: #e05dec;
}

.homeLink {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.copyRight {
    margin-top: 20px;
    text-align: center;
}

p {
    margin-left: 30px;
    font-family: cursive;
    font-size: 18px;
}

button {
    font-family: cursive;
    display: inline-block;
    padding: 0.3em 1.2em;
    margin-left: 15px;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color:black;
    background-color:#5d9bec;
    text-align:center;
    transition: all 0.2s;
}

button:hover {
    background-color: #e05dec;
    cursor: pointer;
}
